header img{
    width: 150px;
}
header {
    display: flex;
    align-items: center; 

}
header nav {
    margin-left: 100px; 
}

header nav a {
    margin-right: 15px; 
    text-decoration: none; 
}
/* /////////////////////////main////////////////////// */
/* /////////////////////////info///////////////////// */
.info img{
    width: 50px;
}
#info{
    margin-top: 20px;
}